tours { display:block; padding:20px 0; }
tours img { max-height:100px; }
tours table { width:100% }
tours input { padding:10px; }
.c0 { width:5%; }
.c1 { width:20%; }
.logo { height:50px; }
.c2 { width:20%; background-color:red; }
.c3 { width:20%; }
.c4 { width:20%; }
.c4 img { height:100px; }
.plusWrapper { display:inline-block; width:27px; height:28px; background-color:#555; }
.plus { width:100%; }
.submitButton {
  margin-top: 20px;
  padding: 8px 22px;
  border: 0;
  background-color: #cc2000;
  color: #ddd;
  font-size: 1.3em;
}

@media screen and (max-width: 1024px) {

  .content {
    padding: 0 16px;
  }

}
