tours { display:block; }
tours img { max-height:100px; }
tours table { width:100% }
tours .c1 { width:20%; }
tours .logo { height:50px; }
tours .c2 { width:20%; }
tours .c3 { width:20%; }
tours .c4 { width:20%; }
tours .c4 img { height:100px; }


@media screen and (max-width: 1024px) {

  .content {
    padding: 0 16px;
  }

}
