body { color:#eee; background-color:#000; }

.content {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

h1 { font-size:1.8em; }
h2 { margin:10px 0; padding:0; font-size:1.5em; line-height:normal; }

imgWrap { overflow:hidden; position:relative; display:block; }
img { width:350px; }
about { display:block; width:90%; margin: 10px 0; padding:0 20px; border: 1px solid #222; }
p { padding:0 0 10px 0; line-height:1.3em; }

members { display:block; margin:10px 0 10px 20px; color:#bbb; }
members ul { margin:5px 0; padding:0 15px; }