body { color:#eee; background-color:#000; }

.content {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

h1 { font-size:1.8em; }
h2 { margin:0; padding:0; font-size:1.5em; line-height:normal; }

.imgWrap { overflow:hidden; display:block; width:200px; border:1px solid #bbb; }
img { width:100%; }
.about { margin:10px; padding-top:40px; border:1px solid #bbb; }
p {
  padding:0 0 10px 0; line-height:1.3em;
}

.members { color:#bbb; }
.members ul { margin:5px 0; }